.REQUIRED {
    border-color: #ffecb5;
    color: #664d03;
    background-color: #fff3cd;
}

.ERROR {
    border-color: #dc3545;
    color: #dc3545;
}

.VALID {
    border-color: #198754;
    color: #198754;
}