// node_modules/bootstrap/scss/variables";
$gray-600: #6c757d !default;
$white:    #fff !default;
$primary-text: $white;
$secondary: $gray-600 !default;
$base: 4px;
$distance: calc($base * 1.5);
$border-radius: 1rem !default;

.dummy-categories {
    display: flex;
    flex-direction: column;
    span {
        justify-self: center;
        background-color: $secondary;
        padding: $distance;
        margin: $distance;
        color: $primary-text;
        border-radius: $border-radius;
        text-align: center;
        cursor: pointer;
    }
    
}
